
.line{
    width: 98vw;
    height: 2px;
    background: rgb(255, 255, 255) ;
    position: relative;
    margin-top: 20px;
    margin-bottom: 80px;
    /* margin-top: 500px; */
  }
  .Whole_box{
    text-align: center;
   
  }
  .circleimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  /* .boxImg{
    background: linear-gradient(red,yellow,green);
    width: 157px;
    height: 157px;
    padding: 3.5px;
    text-align: center;
    border-radius: 50%;
  } */
  .boxImg img{
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  
  
  }
  .datacard{
    display: flex;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
  }
  .card{
    position: relative;
    width: 500px;
    min-height: 228px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 10px 20px rgb(17, 14, 8);
    transition: 0.5s;
    border-radius: 20px;
    margin:0 40px;
    margin-bottom: 35px;
  /* background: url("./background.jpg") no-repeat; */

  }
  
  
  .carddetals{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
  }
  .evedetails span{
    font-weight: bold;
  }
  .btn-link{
    display: flex;
      justify-content: space-evenly;
      width: 70%;
      margin-top: 10px;
      margin-bottom: 18px;
  }
  
  