img{
    width: 100px;
    height: 95px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
     /* background: linear-gradient(to right,rgba(0,168,253),#fff 35%, #e00a95 ); 
    padding: 7px 80px;
    box-shadow: 0 5px 15px red; */
    background: rgb(3, 3, 41);;
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}
.nav-list li a{
text-decoration: none;
font-size: 1.3rem;
font-weight: 600;
/* color: rgb(4, 3, 0); */
color: white;
transition: 0.3s ease-in-out;

}
.nav-list li a:hover,
.nav-list li a.active
{
    color: yellow;
}
.nav-list li a:hover::after,
.nav-list li a.active::after{
    content: "";
    width: 50%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -6px;
    left: 20px;
    background:yellow;

}
.mobile{
    display: none;
}
.mobile{
    font-size: 1.7rem;
    color: white;
}
@media screen and (max-width: 769px) {
    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 150px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: #020625;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
        z-index: 1;
    }
    .nav-list.active{
    right: 0px;
    }

    .nav-list li a {
        color: white;
    }
    .mobile{
        display: block;
    }
    .nav-list li{
     margin-bottom: 25px;
    }
   
    .mobile i{
        font-size: 36px;
        cursor: pointer;

    }
}