img{
    width: 244px;
    height: 50px;
    margin-left: 30px;
    padding: 5px;
}
.nav{
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dfdfeb;
    box-shadow: 5px 15px 20px #4f4e4e1c;
    height: 100px;
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}
.nav-list li a{
text-decoration: none;
font-size: 1.05rem;
/* font-weight: 600; */
/* color: rgb(4, 3, 0); */
color: white;
transition: 0.3s ease-in-out;

}
.nav-list li a:hover,
.nav-list li a.active
{
    color: rgb(20, 4, 63);
    /* color: rgb(255, 153, 0); */

}

.mobile{
    display: none;
}
.mobile{
    font-size: 1.7rem;
    color: white;
}
@media screen and (max-width: 769px) {
    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 150px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: #020625;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
        z-index: 1;
    }
    .nav-list.active{
    right: 0px;
    }

    .nav-list li a {
        color: white;
    }
    .mobile{
        display: block;
    }
    .nav-list li{
     margin-bottom: 25px;
    }
   
    .mobile i{
        font-size: 36px;
        cursor: pointer;

    }
}
.nav-list li a :hover{
background: red;

}